/*
  # Cleanup Duplicate Availability Slots

  This script helps identify and clean up duplicate slots before applying
  the unique constraint. Run this BEFORE applying the migration that adds
  the unique constraint.

  Usage:
  1. First, run the SELECT queries to see what duplicates exist
  2. Review the results and decide how to handle each case
  3. Use the UPDATE/DELETE statements to clean up duplicates
  4. Then apply the migration with the unique constraint
*/

-- 1. Find all duplicate slots (same center, date, time, donation type)
SELECT 
  center_id,
  slot_datetime,
  donation_type,
  COUNT(*) as duplicate_count,
  array_agg(slot_id) as slot_ids,
  array_agg(capacity) as capacities,
  array_agg(current_bookings) as current_bookings,
  array_agg(created_at) as created_ats
FROM availability_slots
GROUP BY center_id, slot_datetime, donation_type
HAVING COUNT(*) > 1
ORDER BY center_id, slot_datetime, donation_type;

-- 2. For each group of duplicates, you'll need to decide how to handle them:
--    Option A: Keep the slot with the highest capacity and sum the current_bookings
--    Option B: Keep the slot with the most recent created_at
--    Option C: Manually review and decide

-- Example: Keep the slot with highest capacity and merge current_bookings
-- (Replace the slot_id values with actual values from your duplicate groups)

/*
-- For a specific duplicate group, you might do something like:
UPDATE availability_slots 
SET 
  capacity = (
    SELECT MAX(capacity) 
    FROM availability_slots 
    WHERE center_id = 'your_center_id' 
      AND slot_datetime = 'your_datetime' 
      AND donation_type = 'your_type'
  ),
  current_bookings = (
    SELECT SUM(current_bookings) 
    FROM availability_slots 
    WHERE center_id = 'your_center_id' 
      AND slot_datetime = 'your_datetime' 
      AND donation_type = 'your_type'
  )
WHERE slot_id = 'slot_id_to_keep';

-- Then delete the other duplicate slots:
DELETE FROM availability_slots 
WHERE slot_id IN ('duplicate_slot_id_1', 'duplicate_slot_id_2');
*/

-- 3. After cleanup, verify no duplicates remain:
SELECT 
  center_id,
  slot_datetime,
  donation_type,
  COUNT(*) as slot_count
FROM availability_slots
GROUP BY center_id, slot_datetime, donation_type
HAVING COUNT(*) > 1;

-- 4. If no duplicates remain, you can safely apply the unique constraint migration
