/*
  # Add unique constraint to prevent duplicate availability slots

  This migration adds a unique constraint on the combination of:
  - center_id
  - slot_datetime  
  - donation_type

  This prevents having multiple slots for the same center, date, time, and donation type,
  which was causing inconsistent \
spots
left\ displays in the UI.

  Note: If there are existing duplicate slots, this migration will fail and you'll need
  to clean up the data first by removing or merging duplicate entries.
*/

-- Add unique constraint to prevent duplicate slots
ALTER TABLE availability_slots 
ADD CONSTRAINT uk_availability_slots_unique 
UNIQUE (center_id, slot_datetime, donation_type);

-- Add comment to document the constraint
COMMENT ON CONSTRAINT uk_availability_slots_unique ON availability_slots IS 
'Prevents duplicate slots for the same center, date, time, and donation type combination';
